---
---

.project-name {
  font-weight: normal;
  color: #beffe2;
}

.project-tagline {
  opacity: 1;
  color: white;
}

.page-header {
  background-color: #252525;  background-image: linear-gradient(120deg, #252525, #41584e)
}

.main-content h2 {
  color: #009a57
}

@import "{{ site.theme }}";