---
---

img.project-name {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

h1.project-name {
  font-weight: normal;
  color: #beffe2;
}

header.page-header {
  background-color: #252525;  background-image: linear-gradient(120deg, #252525, #41584e)
}

$section-headings-color: #009a57;

@import "{{ site.theme }}";
